@import url(http://fonts.googleapis.com/css?family=Crimson+Text);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Cardo);

#SORT_TITLE, #SORT_RATING, #SORT_RUNTIME, #SORT_YEAR, #SORT_DIRTIME {
font-weight:normal !important;
border:0 !important;
background:none !important;
text-decoration:none !important;
margin:0 10px 0 0 !important;
}
body {
background:#ffffff !important;
color:#777777;
font-family:arial;
font-size:12px;
margin:20px;
}
a, a:link, a:visited {
color:#458C26;
text-decoration:none;
font-size:13px !important;
}
a:hover {
text-decoration:underline;
font-weight:normal !important;
font-size:13px !important;
color:#0E302A;
}
#FILTER_TABLE {
background:#dddddd !important;
color:#444444 !important;
padding:10px;
border:1px solid #dddddd;
border-radius:8px;
-moz-border-radius:8px;
-khtml-border-radius:8px;
-webkit-border-radius:8px;
margin:10px 0 10px 0;
}
#FILTER_TABLE input {
margin:2px 6px 0 0;
}
.movietable {
font-family: Georgia, serif;
font-size: 20px;
font-weight: normal;
text-transform: normal;
letter-spacing: normal;
line-height: 1.1em;
color:#222222;
margin:10px 0 10px 0;
padding:0 0 30px 10px;
border-bottom:10px solid #ededed;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dddddd)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #fff,  #dddddd); /* for firefox 3.6+ */
}
.movietable:hover {
border-bottom:10px solid #dcdcdc;
}
.movietable img {
min-width:214px !important;
max-width:214px !important;
min-height:314px !important;
}
.poster {
/* border:1px solid red !important; */
/*margin:0 !important;
padding:0 !important;*/
}
.noposter {
background-image:url("noposter.png");
background-repeat:no-repeat;
min-width:214px !important;
max-width:214px !important;
min-height:314px !important;
height:314px !important;
}
.noposter span {
display:none;
}
.title {
padding:0 0 0 16px;
}
.title a {
font-family:"Droid Sans";
font-size:22px !important;
font-weight:bolder !important;
}
.moviedesc td{
padding:5px 0 0 25px;
}
.plot {
}
.tags {
}
.moviemeta td {
padding:25px 0 0 25px !important;
}
.moviemeta, .moviemeta a {
font-size:11px !important;
}

